# Backend Configuration
# Host and port for the server to bind to
SCS_BIND_HOST=localhost
SCS_BIND_PORT=3000
SCS_BUILD=development
SCS_BASE_URL=localhost:3000/api/v1

# Path to store uploaded files (relative to project root, or absolute path)
SCS_UPLOADS_PATH=uploads/

# Path to the payer/cipher keypair files (relative to project root, or absolute path)
SCS_PAYER_KEYPAIR_FILE=.payer-keypair.json
SCS_CIPHER_KEYPAIR_FILE=.cipher-keypair.json

# Market data API Key, e.g. your API Key from coinstats.app.
SCS_MARKET_DATA_APIKEY=

# Path to the log file (relative to project root, or absolute path)
SCS_LOGS_FILE=sandbox.log
