# Backend Configuration
# Host and port for the server to bind to
SCS_BIND_HOST=localhost
SCS_BIND_PORT=3000
SCS_BUILD=development

# Path to store uploaded files (relative to project root, or absolute path)
SCS_UPLOADS_PATH=uploads/

# Path to the payer/cipher keypair files (relative to project root, or absolute path)
SCS_PAYER_KEYPAIR_FILE=.payer-keypair.json
SCS_CIPHER_KEYPAIR_FILE=.cipher-keypair.json

# Path to the log file (relative to project root, or absolute path)
SCS_LOGS_FILE=sandbox.log
